{
  "plugins": [
    "node"
  ],
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "ignorePatterns": [
    "**/*.ts"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "space-before-function-paren": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "node/no-unpublished-require": [
      "error",
      {
        "allowModules": [
          "pg"
        ]
      }
    ]
  }
}
