{
  "plugins": [
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "ignorePatterns": [
    "node_modules",
    "packages/pg",
    "packages/pg-protocol/dist/**/*",
    "packages/pg-pool"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  }
}
