{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": [
    "**/*.ts",
    "node_modules",
    "packages/pg",
    "packages/pg-protocol",
    "packages/pg-pool",
    "packages/pg-query-stream"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  }
}
