language: node_js
dist: trusty
node_js:
  - "8"
  - "10"
  - "12"
env:
  - PGUSER=postgres
services:
  - postgresql
addons:
  postgresql: "9.6"
before_script:
  - psql -c 'create database travis;' -U postgres | true
